[Unit]
Description = milight2zigbee daemon
After=network.target

[Service]
EnvironmentFile = /opt/milight2zigbee/.env
ExecStart = /opt/milight2zigbee/milight2zb.py -u ${MQTT_USER} -p ${MQTT_PASS}
WorkingDirectory = /opt/milight2zigbee
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Type = simple

[Install]
WantedBy = multi-user.target